/* Copyright 2013 Tauran Wood */

/*  This program is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.
 
	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.
 
	You should have received a copy of the GNU General Public License
	along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/
#topmenuPager {
	font-size:0;
	background-color:#00adda;
	text-align:center;
}
#topmenuPager span {
	cursor:pointer;
	text-decoration:none;
	font-size:8pt;
	display:inline-block;
	color:#fff;
	padding:0 22px;
	line-height:25px;
	height:25px;
	border-style:solid;
	border-color:#fff;
	border-width:0;
	border-right-width:2px;
}
#topmenuPager span:first-child {
	border-left-width:2px;
}

/* This runs the menu */
/* Menu source, if you are interested http://www.onextrapixel.com/2011/06/03/how-to-create-a-horizontal-dropdown-menu-with-html-css-and-jquery/ */
.areamenu,
.areamenu ul {
    list-style: none;
	padding-left:0px;
}
.areamenu {
	width:100%;
	text-align:center;
}
.areamenu > li {
	display:inline-block;
}
.areamenu li a {
	display: block;
    height: 25px;
    line-height: 25px;
    padding-left: 22px;
	padding-right:22px;
    text-decoration: none;
}
.areamenu ul {
    position: absolute;
    display: none;
	z-index: 999;
}

.areamenu li:hover ul {
    display: block;
}
.topmenu > .bx-wrapper > .bx-viewport {
	overflow: visible;
	border-width:0;
	left:0px;
	-webkit-box-shadow:none;
	box-shadow:none;
	-moz-box-shadow:none;
}
.topmenuHighlight {
	background-color:#666;
	height:25px;
	border-bottom-color:#666;
}

/* Menu styling */
/* Main menu
------------------------------------------*/
.areamenu {
	font-size:0;
	margin-left:auto;
	margin-right:auto;
	background: #666;
	margin:0;
	height:25px;
	color:#fff;
	border-style:solid;
	border-width:0px;
	border-color:#fff;
	border-top-width:0px;
	border-bottom-width:2px;
}
.areamenu > li {
	font-size:8pt;
	border-style:solid;
	border-width:0px;
	border-right-width:2px;
	border-color:#fff;
}
.areamenu > li:first-child {
	border-left-width:2px;
}
.areamenu > li > a {
    color: #fff;
    font-weight: normal;
}
.areamenu > li:hover > a {
	background: #00adda;
    color: #fff;
}
/* Submenu
 ------------------------------------------ */

.areamenu ul {
	background-color: #00adda;
}
.areamenu ul li a {
    color: #fff;
	margin-top:auto;
	margin-bottom:auto;
	border-style:solid;
	border-width:0px;
	text-align:left;
	border-top-width:0px;
}
.areamenu ul li:hover a {
	background: #666;
}
